<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="título">
    <h1>Distância</h1>
    <ion-badge item-end>{{dist}} km</ion-badge>
  </div>
  <ion-item>
    <ion-range min="0" max="300" [(ngModel)]="distancia" color="secondary">
      <ion-label range-left>0km</ion-label>
      <ion-label range-right>3km</ion-label>
    </ion-range>
  </ion-item>
  
  <ion-item>
    <button class="procurar" ion-button (click)='procEstacionamento()'>Procurar Onde Parar</button>
  </ion-item>
  

  <div *ngIf = mostrar>
    
    <ion-card *ngFor = "let park of service.parks" (click)="irParaDetail(park)">
      
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/park-logo.png">
        </ion-avatar>
        <h2>{{park.nome}}</h2>
        <p>XXX.X metros de distância</p>
      </ion-item>
      
      <img src="{{park.foto}}">
      
      <ion-card-content>
        <p>Diária: {{park.preco}}</p>
      </ion-card-content>
      
      <div ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>XX Comments</div>
      </div>
      
    </ion-card>
    
  </div>

</ion-content>
